<html lang="en">
  <head>
    <title>Female Super Villains Trading Cards</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='villain.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <h1>Trading Card Game</h1>
    </div>
    <div class="subheader">
      <h2>No. 1 Female Super Villain Trading Card Game!</h2>
    </div>
    <div class="content">
      <!-- <h3>Female Super Villains:</h3>
      <p class="card-description">
        "I'll just be here. Messin' up your app. It'll probably take you 3 hours
        to find that one line of code that's destroying your life. Feel the
        rage. I feed on your anger and wasted time! Heh heh heh."
      </p>
      <h4>Interests:</h4>
      <p class="card-interests">
        Breaking websites and apps, destroying your soul, making you question
        why you're learning programming to begin with.
      </p> -->

      {% for villain in villains %}
      <div class="card">Card 1</div>
      <h3 class="card-name">{{villain.name}}</h3>
      <p class="card-description">{{villain.description}}</p>
      <h4>Interests:</h4>
      <p class="card-interests">{{villain.interests}}</p>
      <p class="card-date-added">Date added: {{villain.date_added}}</p>
      <img class="card-image" src="{{villain.url}}" />
      {% endfor %}
    </div>
  </body>
</html>
